body {
  background-color: white;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-nav {
  background-color: transparent !important;
  z-index: 99;
}

.my-nav a {
  margin-right: 30px;
  color: black !important;
}

.my-nav a:hover {
  color: gray !important;
}

.nav-page a {
  margin-right: 30px;
}

.nav-page a:hover {
  color: lightgray !important;
}

.nav-page-galery {
  background-color: black;
}

.nav-page-galery a {
  margin-right: 30px;
  color: black !important;
}

.nav-page-galery a:hover {
  color: gray !important;
}

.navbar {
  background-color: whitesmoke !important;
}

.active a {
  color: grey !important;
}

.email a {
  color: gray;
}

.email a:hover {
  color: silver;
  text-decoration: none;
}

.contact a {
  color: black;
}

.contact a:hover {
  color: silver;
  text-decoration: none;
}

.logo a:hover {
  color: grey !important;
  text-decoration: none !important;
}

.exclusive a {
  color: red !important;
}

.exclusive a:hover {
  color: orange !important;
}

.exclusive a:active {
  color: orange !important;
}

.dropdown-menu>a:active {
  background-color: transparent !important;
  color: gray !important;
}

.dropdown-menu>a:hover {
  background-color: lightgray !important;
  color: grey !important;
}

img.brand {
  border-radius: 50%;
  width: 60px;
}

p,
figure {
  font-family: 'Raleway', sans-serif;
}

p {
  color: gray;
}


h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Carter One', cursive;
}

/* Footer */

.footer-icon i {
  color: darkgray;
  font-size: 30px;
  padding: 10px;
}

.footer-icon i:hover {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.pic {
  padding: 10px;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}


@media (max-width: 768px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.mb-3 {
  border-radius: 10px;
  background-color: #333;
}

.mb-3 img {
  padding: 5px 10px 5px 0;
  margin-left: -10px;
}

.mb-3 img:hover {
  opacity: 0.8;
}

.gap-70 {
  padding: 70px 0;
}

.btn {
  padding: 5px 40px;
  border-radius: 30px;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  text-decoration: none;
  color: lightgray;
}

.btn-link:focus {
  text-decoration: none;
}

hr {
  background-color: white;
}

figure {
  font-size: 0.8em;
}

@media only screen and (max-width: 1076px) {}

@media only screen and (max-width: 768px) {

  #galerija {
    padding-top: 60px !important;
  }

  #biografija,
  #code {
    padding-top: 40px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  p {
    font-size: 0.8em;
  }

}

nav li .active {
  color: gray !important;
  background-color: transparent !important;
}

nav li .exclusive {
  color: orange !important;
}